/*Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212*/
HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
BODY
{
	line-height: 1;
}
OL, UL
{
	list-style: none;
}
BLOCKQUOTE, Q
{
	quotes: none;
}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after
{
	content: '';
	content: none;
}
/*remember to define focus styles!*/
:focus
{
	outline: 0;
}
/*remember to highlight inserts somehow!*/
INS
{
	text-decoration: none;
}
DEL
{
	text-decoration: line-through;
}
/*tables still need 'cellspacing="0"' in the markup*/
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************************************************************************
Clearfix*/
.clearfix:before, .clearfix:after
{
	content: "";
	display: table;
}
.clearfix:after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
/**************************************************************************************************/
BODY
{
	background: url(../images/background.png);
	color: #444;
	font-family: museo-sans;
}
BODY P
{
	line-height: 1.3em;
}
H1, H2, H3, H4
{
	font-family: museo-slab;
}
H1
{
	font-size: 3em;
	margin-bottom: 10px;
}
H2
{
	font-size: 2.4em;
	margin-bottom: 10px;
	margin-top: 20px;
}
H3
{
	font-size: 2.1em;
	margin-bottom: 10px;
}
H4
{
	font-size: 1.5em;
}
.container
{
	margin: 0 auto;
	width: 960px;
}
.container .header
{
}
.container .header IMG
{
	padding-top: 10px;
	float: left;
}
.container .header .nav
{
	float: left;
	margin-top: 16px;
	margin-left: 40px;
}
.container .header UL
{
	font-family: museo-slab;
	display: inline;
}
.container .header UL LI
{
	display: inline;
	margin-right: 30px;
}
.container .header UL LI A
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 700;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.container .header UL LI A:hover
{
	color: #E71736;
}
.container .header .cart
{
	color: #FFFFFF;
	background: #E71736;
	float: right;
	padding: 5px;
	border-radius: 0 0 3px 3px;
}
.container .header .cart A
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 0.8em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.container .header .cart A:hover
{
	background: #FFFFFF;
	color: #E71736;
}
.container .slider
{
	float: left;
	margin-top: 20px;
	background: #FFFFFF;
	width: 960px;
}
.container .slider IMG
{
	float: left;
}
.container .slider .sliderImageDetails
{
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	width: 460px;
}
.contentContainer
{
	width: 960px;
	margin: 20px auto;
}
.content
{
	background: #FFFFFF;
	padding: 10px;
	margin-top: 20px;
}
.content .firstRow
{
	width: 600px;
	float: left;
	margin-right: 20px;
}
.content .secondRow
{
	width: 320px;
	float: left;
}
H3.popularTeeHeading
{
	margin-top: 20px;
}
.row .threeColumnfirstTeeColumn
{
	float: left;
	margin-right: 20px;
	min-width: 300px;
}
.row .threeColumnsecondTeeColumn
{
	float: left;
	margin-right: 20px;
	min-width: 300px;
}
.row .threeColumnthirdTeeColumn
{
	float: left;
	min-width: 300px;
}
.teePreview
{
}
.teePreview IMG
{
	float: left;
	margin-right: 20px;
}
.teePreview .teePreviewDetails
{
	float: left;
	min-width: 320px;
}
.teePreview .teePreviewDetails H4
{
	background: #109E7E;
	color: #FFFFFF;
	padding: 10px;
	width: 120px;
	margin-bottom: 10px;
}
.teePreview .teePreviewDetails UL
{
	margin-top: 20px;
}
.teePreview .teePreviewDetails UL LI
{
	display: inline;
}
.teePreview .teePreviewDetails UL LI A
{
	background: #DDE1E0;
	color: #444;
	padding: 5px;
	text-decoration: none;
}
.teePreview SELECT
{
	margin-top: 20px;
	width: 100px;
	display: block;
	margin-bottom: 20px;
}
/*Buttons
Taken from: http://devgrow.com/super-simple-css-buttons/*/
A.button
{
	text-decoration: none;
}
.button
{
	padding: 5px 10px;
	display: inline;
	background: #777 url(button.png) repeat-x bottom;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
}
.button:hover
{
	background-position: 0 -48px;
}
.button:active
{
	background-position: 0 top;
	position: relative;
	top: 1px;
	padding: 6px 10px 4px;
}
.button.red
{
	background-color: #E71736;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.button.red:hover
{
	background-color: #9A0F24;
}
.button.purple
{
	background-color: #9400BF;
}
.button.green
{
	background-color: #58AA00;
}
.button.orange
{
	background-color: #FF9C00;
}
.button.blue
{
	background-color: #2C6DA0;
}
.button.black
{
	background-color: #333;
}
.button.white
{
	background-color: #FFF;
	color: #000;
	text-shadow: 1px 1px #FFF;
}
.button.small
{
	font-size: 75%;
	padding: 3px 7px;
}
.button.small:hover
{
	background-position: 0 -50px;
}
.button.small:active
{
	padding: 4px 7px 2px;
	background-position: 0 top;
}
.button.large
{
	font-size: 125%;
	padding: 7px 12px;
}
.button.large:hover
{
	background-position: 0 -35px;
}
.button.large:active
{
	padding: 8px 12px 6px;
	background-position: 0 top;
}
/*************************************************************************************************************
Comment
*************************************************************************************************************/
.comments
{
	width: 600px;
}
.comments
{
	width: 600px;
}
/*------------------------------------------
PURE CSS SPEECH BUBBLES
by Nicolas Gallagher
- http://nicolasgallagher.com/pure-css-speech-bubbles/

http://nicolasgallagher.com
http://twitter.com/necolas
-------------------------------------------------------------------------------------------------------------------------------*/
.triangle-isosceles
{
	position: relative;
	padding: 15px;
	margin: 20px 0 3em;
	color: #000;
	background: #EFEFEF;
/*default background for browsers without gradient support
css3*/
	border-radius: 6px;
}
P.triangle-isosceles
{
	font-weight: normal;
	line-height: 1.5em;
}
.triangle-isosceles:after
{
	content: "";
	position: absolute;
	bottom: -15px;
/*value = - border-top-width - border-bottom-width*/
	left: 50px;
/*controls horizontal position*/
	border-width: 15px 15px 0;
/*vary these values to change the angle of the vertex*/
	border-style: solid;
	border-color: #F3961C transparent;
/*reduce the damage in FF3.0*/
	display: block;
	width: 0;
}
/*Variant : top
------------------------------------------*/
.triangle-isosceles.top:after
{
	top: -15px;
/*value = - border-top-width - border-bottom-width
controls horizontal position*/
	bottom: auto;
	left: auto;
	border-width: 0 15px 15px;
/*vary these values to change the angle of the vertex*/
	border-color: #EFEFEF transparent;
}
.commentDetails H4
{
	display: inline;
}
.commentDetails H4 A
{
	color: #E71736;
	text-decoration: none;
}
.commentDetails H4 A:hover
{
	background: #E71736;
	color: #FFF;
	text-decoration: none;
}
.commentDetails P
{
	color: #B8B6B6;
	display: inline;
}
.singleComment
{
	margin-bottom: 20px;
}
.commentSubmission LABEL
{
	display: block;
	margin-bottom: 5px;
}
.commentSubmission LABEL SPAN
{
	color: #FF2B2B;
	font-size: 1.2em;
}
.commentSubmission INPUT
{
	display: block;
	margin-bottom: 10px;
	width: 600px;
	padding: 5px;
}
.commentSubmission TEXTAREA
{
	display: block;
	margin-bottom: 20px;
	width: 600px;
	padding: 5px;
}
/**************************************************************************************************************/
.footer
{
	margin-top: 20px;
	padding: 10px;
}
.footer H4
{
	color: #FFFFFF;
	margin-bottom: 20px;
}
.footer H4
{
	color: #FFFFFF;
}
.footer LI
{
	margin-bottom: 10px;
}
.footer A
{
	color: #E71736;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.footer A:hover
{
	background: #E71736;
	color: #FFFFFF;
}
