<!-- Slider -->
<div class="sliderWrapper">
  <div class="imgSlider">
    <a href="#"><img src="assets/slider2.jpg" alt=""></a>
  </div>
</div>

<div class="row first">
	<div class="column1">
		<h2>What is myTeeroom</h2>
	 	<p>myTeeroom is online store for beautiful Tees. At myTeeroom you can also submit your own designs and let your friends vote on it. We will then print the most popular designs</p>
 	</div>
	<div class="column2">
		<h2>Join the community</h2>
	 <a href="#" class="large awesome blue">Signup</a>
 	</div>
</div>

<div class="clearfix"></div>

<h1>Popular Tees</h1>
<div class="row">
				<h2>Popular Tees</h2>
				<div class="firstImage">
				<a href="/items/1" class="first"><img src="/assets/teeImages/tShirtPreview.jpg" alt=""></a>
				<p class="teePrice">RM 49.90</p>
				<p class="teeTitle">The artist</p>
				</div>
				<div class="secondImage">
					<a href="/items/1" class="second"><img src="/assets/teeImages/tShirtPreview2.jpg" alt=""></a>
					<p class="teePrice">RM 49.90</p>
					<p class="teeTitle">The artist</p>
				</div>
				<div class="thirdImage">
					<a href="/items/1" class="last"><img src="/assets/teeImages/tShirtPreview3.jpg" alt=""></a>
					<p class="teePrice">RM 49.90</p>
					<p class="teeTitle">The artist</p>
				</div>
			</div>

			<div class="clearfix"></div>

